In [1]:
#Dependencies
import pandas as pd

In [20]:
#Combine all data sets from API calls together into one data frame

#Read in data
Group0 = pd.read_csv("Resources/P1_cities_WD_G0.csv")
Group1 = pd.read_csv("Resources/P1_cities_WD_G1.csv")
Group2 = pd.read_csv("Resources/P1_cities_WD_G2.csv")
Group3 = pd.read_csv("Resources/P1_cities_WD_G3.csv")
Group4 = pd.read_csv("Resources/P1_cities_WD_G4.csv")
Group5 = pd.read_csv("Resources/P1_cities_WD_G5.csv")
Group6 = pd.read_csv("Resources/P1_cities_WD_G6.csv")
Group7 = pd.read_csv("Resources/P1_cities_WD_G7.csv")
Group8 = pd.read_csv("Resources/P1_cities_WD_G8.csv")
Group9 = pd.read_csv("Resources/P1_cities_WD_G9.csv")
Group10 = pd.read_csv("Resources/P1_cities_WD_G10.csv")

all_data = pd.concat([Group0, Group1, Group2, Group3, Group4, Group5, Group6, Group7,
                     Group8, Group9, Group10], axis=0).reset_index(drop=True)
all_data.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,72.01,3.9,46.2,2.8,66.21,7.5,39.6,3.7,68.37,3.1
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,56.49,20.1,64.1,1.2,59.53,22.7,58.8,2.3,54.64,16.9
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,69.60,26.2,36.3,2.1,70.47,31.1,34.3,1.5,71.57,26.6
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,69.82,31.3,62.8,1.5,70.21,38.9,58.2,3.9,66.35,42.2
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,70.58,49.2,44.5,3.3,64.19,47.4,38.0,4.0,65.68,52.8

In [21]:
#Create output file of entire (uncleaned) data set
output_data_file = "resources/all_data_uncleaned.csv"
all_data.to_csv(output_data_file, index=False, header=True)

In [30]:
#Missing values

#if we decide to drop all rows with any NaN values
drop_null = all_data.dropna().reset_index(drop=True)
len(drop_null.index)

860

In [23]:
#Missing values

#if we decide to keep - then replace with zeros
all_new = all_data.fillna(0)
all_new.head(20)

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,72.01,3.9,46.2,2.8,66.21,7.5,39.6,3.7,68.37,3.1
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,56.49,20.1,64.1,1.2,59.53,22.7,58.8,2.3,54.64,16.9
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,69.60,26.2,36.3,2.1,70.47,31.1,34.3,1.5,71.57,26.6
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,69.82,31.3,62.8,1.5,70.21,38.9,58.2,3.9,66.35,42.2
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,70.58,49.2,44.5,3.3,64.19,47.4,38.0,4.0,65.68,52.8
5,Phoenix,Arizona,33.448377,-112.074037,2662.0,2786.0,3748.0,3395.0,4001.0,3950.0,...,32.03,29.4,66.4,0.6,36.39,47.8,56.3,0.4,45.26,52.0
6,San Antonio,Texas,29.424122,-98.493628,1546.0,1617.0,2229.0,1894.0,2639.0,2539.0,...,66.97,48.8,60.5,0.9,69.10,50.1,53.9,2.2,66.34,45.5
7,San Diego,California,32.715738,-117.161084,1024.0,1046.0,1465.0,1406.0,1637.0,1721.0,...,64.36,42.7,63.8,1.1,65.64,54.6,59.0,2.2,62.86,52.9
8,Dallas,Texas,32.776664,-96.796988,892.0,943.0,1371.0,1357.0,1507.0,1484.0,...,64.70,45.3,56.1,1.7,64.41,49.8,49.9,3.4,63.51,52.1
9,San Jose,California,37.338208,-121.886329,469.0,521.0,731.0,777.0,884.0,962.0,...,56.74,28.6,57.0,1.4,66.28,51.3,52.0,1.2,70.06,53.1
10,Austin,Texas,30.267153,-97.743061,804.0,955.0,1286.0,1302.0,1518.0,1691.0,...,66.71,45.4,59.5,1.0,67.89,48.9,52.7,3.7,66.90,44.7
11,Indianapolis,Indiana,39.768403,-86.158068,0.0,0.0,0.0,0.0,0.0,2148.0,...,72.90,53.0,39.6,3.3,73.98,63.6,34.1,2.5,75.73,60.6
12,Jacksonville,Florida,30.332184,-81.655651,1503.0,1555.0,1950.0,1922.0,2135.0,2170.0,...,74.49,52.1,63.9,2.8,77.31,55.3,59.9,4.2,77.45,61.2
13,San Francisco,California,37.774929,-122.419415,400.0,329.0,544.0,495.0,542.0,623.0,...,70.24,14.3,55.2,1.0,69.69,22.0,52.3,0.4,67.11,16.5
14,Columbus,Ohio,39.961176,-82.998794,806.0,782.0,1178.0,1001.0,1238.0,1437.0,...,72.69,54.1,39.9,4.1,73.09,67.5,34.2,2.7,75.58,66.0
15,Charlotte,North Carolina,35.227087,-80.843127,1282.0,1279.0,1861.0,1788.0,2127.0,2326.0,...,72.47,51.4,50.1,3.5,69.91,55.4,46.4,4.8,67.49,61.0
16,Fort Worth,Texas,32.755488,-97.330766,975.0,1043.0,1396.0,1371.0,1626.0,1661.0,...,64.77,36.0,55.9,1.2,63.93,37.0,49.1,2.9,64.08,41.1
17,El Paso,Texas,31.761878,-106.485022,484.0,458.0,563.0,523.0,655.0,644.0,...,44.07,28.1,55.8,0.6,42.94,30.6,47.0,0.6,50.01,30.7
18,Memphis,Tennessee,35.149534,-90.048980,712.0,619.0,945.0,827.0,953.0,1002.0,...,72.34,43.4,49.5,3.5,73.71,49.3,44.9,6.4,75.04,58.0
19,Seattle,Washington,47.606209,-122.332071,582.0,552.0,881.0,843.0,1133.0,1210.0,...,77.49,40.8,47.3,3.7,80.26,52.6,43.2,4.4,83.36,58.1

In [24]:
#Keep only records with at least one full year of data

#Flag rows that will need to be dropped
all_new["flag17"] = ""
all_new["flag18"] = ""
all_new["flag19"] = ""

years = ["2017", "2018", "2019"]

for index, row in all_new.iterrows(): 
    
    for year in years:
        
        count = 0
        
        if row[f"{year}-01"] > 0:
            count = count + 1
        if row[f"{year}-02"] > 0:
            count = count + 1
        if row[f"{year}-03"] > 0:
            count = count + 1
        if row[f"{year}-04"] > 0:
            count = count + 1
        if row[f"{year}-05"] > 0:
            count = count + 1
        if row[f"{year}-06"] > 0:
            count = count + 1
        if row[f"{year}-07"] > 0:
            count = count + 1
        if row[f"{year}-08"] > 0:
            count = count + 1
        if row[f"{year}-09"] > 0:
            count = count + 1
        if row[f"{year}-10"] > 0:
            count = count + 1
        if row[f"{year}-11"] > 0:
            count = count + 1
        if row[f"{year}-12"] > 0:
            count = count + 1
            
        if year == "2017":
            all_new.loc[index, "flag17"] = count
        elif year == "2018":
            all_new.loc[index, "flag18"] = count
        elif year == "2019":
            all_new.loc[index, "flag19"] = count

all_new.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud,flag17,flag18,flag19
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,2.8,66.21,7.5,39.6,3.7,68.37,3.1,12,12,12
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,1.2,59.53,22.7,58.8,2.3,54.64,16.9,12,12,12
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,2.1,70.47,31.1,34.3,1.5,71.57,26.6,12,12,12
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,1.5,70.21,38.9,58.2,3.9,66.35,42.2,12,12,12
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,3.3,64.19,47.4,38.0,4.0,65.68,52.8,12,12,12

In [25]:
#Drop rows without at least one full year of Zillow data
all_new = all_new.loc[(all_new['flag17'] == 12) | (all_new['flag18'] == 12) | (all_new['flag19'] == 12)]

In [26]:
#Summarize Zillow data:  averages for each month across the three year period

#new columns of data
all_new["01_Avg"] = ""
all_new["02_Avg"] = ""
all_new["03_Avg"] = ""
all_new["04_Avg"] = ""
all_new["05_Avg"] = ""
all_new["06_Avg"] = ""
all_new["07_Avg"] = ""
all_new["08_Avg"] = ""
all_new["09_Avg"] = ""
all_new["10_Avg"] = ""
all_new["11_Avg"] = ""
all_new["12_Avg"] = ""

months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

for index, row in all_new.iterrows():
    
    for month in months:
        
        count = 0
        sums = 0
    
        if row[f"2017-{month}"] > 0:
            count = count + 1
            sums = sums + row[f"2017-{month}"]
        if row[f"2018-{month}"] > 0:
            count = count + 1
            sums = sums + row[f"2018-{month}"]
        if row[f"2019-{month}"] > 0:
            count = count + 1
            sums = sums + row[f"2019-{month}"]
        
        if count > 0:
            avg = round(sums/count)
        else:
            avg = 0 
        
        all_new.loc[index, (f"{month}_Avg")] = avg

    
all_new.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,03_Avg,04_Avg,05_Avg,06_Avg,07_Avg,08_Avg,09_Avg,10_Avg,11_Avg,12_Avg
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,3977,3818,4037,4330,4564,4796,4160,4448,3938,4057
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,2660,2667,2967,3083,2904,3085,2441,2668,2363,2361
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,3404,3740,4279,4487,4020,3990,3218,3223,2632,3098
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,3459,3516,4024,3863,3660,3504,3030,3230,2933,3388
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,2139,2212,2633,2498,2557,2535,2160,2388,2076,2186

In [27]:
#Drop old Zillow columns
clean_data = all_new[["City", "State", "Latitude", "Longitude",
                      "01_Avg", "02_Avg", "03_Avg", "04_Avg", "05_Avg", "06_Avg",
                      "07_Avg", "08_Avg", "09_Avg", "10_Avg", "11_Avg", "12_Avg",
                      "Jan_temp", "Jan_precip", "Jan_humid", "Jan_cloud",
                      "Feb_temp", "Feb_precip", "Feb_humid", "Feb_cloud",
                      "Mar_temp", "Mar_precip", "Mar_humid", "Mar_cloud",
                      "Apr_temp", "Apr_precip", "Apr_humid", "Apr_cloud",
                      "May_temp", "May_precip", "May_humid", "May_cloud",                      
                      "Jun_temp", "Jun_precip", "Jun_humid", "Jun_cloud",                      
                      "Jul_temp", "Jul_precip", "Jul_humid", "Jul_cloud",                      
                      "Aug_temp", "Aug_precip", "Aug_humid", "Aug_cloud",                      
                      "Sep_temp", "Sep_precip", "Sep_humid", "Sep_cloud",                     
                      "Oct_temp", "Oct_precip", "Oct_humid", "Oct_cloud",
                      "Nov_temp", "Nov_precip", "Nov_humid", "Nov_cloud",                     
                      "Dec_temp", "Dec_precip", "Dec_humid", "Dec_cloud"                     
                     ]]
clean_data.head()

,City,State,Latitude,Longitude,01_Avg,02_Avg,03_Avg,04_Avg,05_Avg,06_Avg,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,New York,New York,40.712775,-74.005973,4251,3548,3977,3818,4037,4330,...,72.01,3.9,46.2,2.8,66.21,7.5,39.6,3.7,68.37,3.1
1,Los Angeles,California,34.052234,-118.243685,2061,1984,2660,2667,2967,3083,...,56.49,20.1,64.1,1.2,59.53,22.7,58.8,2.3,54.64,16.9
2,Chicago,Illinois,41.878114,-87.629798,2549,2377,3404,3740,4279,4487,...,69.60,26.2,36.3,2.1,70.47,31.1,34.3,1.5,71.57,26.6
3,Houston,Texas,29.760427,-95.369803,2686,2759,3459,3516,4024,3863,...,69.82,31.3,62.8,1.5,70.21,38.9,58.2,3.9,66.35,42.2
4,Philadelphia,Pennsylvania,39.952584,-75.165222,2054,1597,2139,2212,2633,2498,...,70.58,49.2,44.5,3.3,64.19,47.4,38.0,4.0,65.68,52.8

In [28]:
#Output cleaned data
output_data_file = "resources/cleaned_data.csv"
clean_data.to_csv(output_data_file, index=False, header=True)