In [1]:
#Dependencies
import pandas as pd

In [2]:
#Combine all data sets from API calls together into one data frame

#Read in data
Group0 = pd.read_csv("Resources/P1_cities_WD_G0.csv")
Group1 = pd.read_csv("Resources/P1_cities_WD_G1.csv")
Group2 = pd.read_csv("Resources/P1_cities_WD_G2.csv")
Group3 = pd.read_csv("Resources/P1_cities_WD_G3.csv")
Group4 = pd.read_csv("Resources/P1_cities_WD_G4.csv")
Group5 = pd.read_csv("Resources/P1_cities_WD_G5.csv")
Group6 = pd.read_csv("Resources/P1_cities_WD_G6.csv")
Group7 = pd.read_csv("Resources/P1_cities_WD_G7.csv")
Group8 = pd.read_csv("Resources/P1_cities_WD_G8.csv")
Group9 = pd.read_csv("Resources/P1_cities_WD_G9.csv")
Group10 = pd.read_csv("Resources/P1_cities_WD_G10.csv")

all_data = pd.concat([Group0, Group1, Group2, Group3, Group4, Group5, Group6, Group7,
                     Group8, Group9, Group10], axis=0).reset_index(drop=True)
all_data.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,72.01,3.9,46.2,2.8,66.21,7.5,39.6,3.7,68.37,3.1
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,56.49,20.1,64.1,1.2,59.53,22.7,58.8,2.3,54.64,16.9
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,69.60,26.2,36.3,2.1,70.47,31.1,34.3,1.5,71.57,26.6
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,69.82,31.3,62.8,1.5,70.21,38.9,58.2,3.9,66.35,42.2
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,70.58,49.2,44.5,3.3,64.19,47.4,38.0,4.0,65.68,52.8

In [3]:
#Create output file of entire (uncleaned) data set
output_data_file = "resources/all_data_uncleaned.csv"
all_data.to_csv(output_data_file, index=False, header=True)

In [5]:
#Missing values
#Dropping cities from data set without three full years of home sales counts in Zillow
all_new = all_data.dropna().reset_index(drop=True)

In [6]:
#Summarize Zillow data:  averages for each month across the three year period (2017 to 2019)

#new columns of data
all_new["01_Avg"] = ""
all_new["02_Avg"] = ""
all_new["03_Avg"] = ""
all_new["04_Avg"] = ""
all_new["05_Avg"] = ""
all_new["06_Avg"] = ""
all_new["07_Avg"] = ""
all_new["08_Avg"] = ""
all_new["09_Avg"] = ""
all_new["10_Avg"] = ""
all_new["11_Avg"] = ""
all_new["12_Avg"] = ""

months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

for index, row in all_new.iterrows():
    
    for month in months:
        
        mo_sum = row[f"2017-{month}"] + row[f"2018-{month}"] + row[f"2019-{month}"]        
        avg = round(mo_sum/3)
         
        all_new.loc[index, (f"{month}_Avg")] = avg

    
all_new.head()

,City,State,Latitude,Longitude,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,...,03_Avg,04_Avg,05_Avg,06_Avg,07_Avg,08_Avg,09_Avg,10_Avg,11_Avg,12_Avg
0,New York,New York,40.712775,-74.005973,4533.0,3881.0,4407.0,3964.0,4335.0,4802.0,...,3977,3818,4037,4330,4564,4796,4160,4448,3938,4057
1,Los Angeles,California,34.052234,-118.243685,2299.0,2167.0,3038.0,2779.0,3263.0,3720.0,...,2660,2667,2967,3083,2904,3085,2441,2668,2363,2361
2,Chicago,Illinois,41.878114,-87.629798,2904.0,2457.0,3894.0,3812.0,4642.0,5143.0,...,3404,3740,4279,4487,4020,3990,3218,3223,2632,3098
3,Houston,Texas,29.760427,-95.369803,2687.0,2764.0,3629.0,3330.0,4008.0,3994.0,...,3459,3516,4024,3863,3660,3504,3030,3230,2933,3388
4,Philadelphia,Pennsylvania,39.952584,-75.165222,1979.0,1634.0,2404.0,2041.0,2525.0,2520.0,...,2139,2212,2633,2498,2557,2535,2160,2388,2076,2186

In [7]:
#Drop old Zillow columns
clean_data = all_new[["City", "State", "Latitude", "Longitude",
                      "01_Avg", "02_Avg", "03_Avg", "04_Avg", "05_Avg", "06_Avg",
                      "07_Avg", "08_Avg", "09_Avg", "10_Avg", "11_Avg", "12_Avg",
                      "Jan_temp", "Jan_precip", "Jan_humid", "Jan_cloud",
                      "Feb_temp", "Feb_precip", "Feb_humid", "Feb_cloud",
                      "Mar_temp", "Mar_precip", "Mar_humid", "Mar_cloud",
                      "Apr_temp", "Apr_precip", "Apr_humid", "Apr_cloud",
                      "May_temp", "May_precip", "May_humid", "May_cloud",                      
                      "Jun_temp", "Jun_precip", "Jun_humid", "Jun_cloud",                      
                      "Jul_temp", "Jul_precip", "Jul_humid", "Jul_cloud",                      
                      "Aug_temp", "Aug_precip", "Aug_humid", "Aug_cloud",                      
                      "Sep_temp", "Sep_precip", "Sep_humid", "Sep_cloud",                     
                      "Oct_temp", "Oct_precip", "Oct_humid", "Oct_cloud",
                      "Nov_temp", "Nov_precip", "Nov_humid", "Nov_cloud",                     
                      "Dec_temp", "Dec_precip", "Dec_humid", "Dec_cloud"                     
                     ]]
clean_data.head()

,City,State,Latitude,Longitude,01_Avg,02_Avg,03_Avg,04_Avg,05_Avg,06_Avg,...,Oct_humid,Oct_cloud,Nov_temp,Nov_precip,Nov_humid,Nov_cloud,Dec_temp,Dec_precip,Dec_humid,Dec_cloud
0,New York,New York,40.712775,-74.005973,4251,3548,3977,3818,4037,4330,...,72.01,3.9,46.2,2.8,66.21,7.5,39.6,3.7,68.37,3.1
1,Los Angeles,California,34.052234,-118.243685,2061,1984,2660,2667,2967,3083,...,56.49,20.1,64.1,1.2,59.53,22.7,58.8,2.3,54.64,16.9
2,Chicago,Illinois,41.878114,-87.629798,2549,2377,3404,3740,4279,4487,...,69.60,26.2,36.3,2.1,70.47,31.1,34.3,1.5,71.57,26.6
3,Houston,Texas,29.760427,-95.369803,2686,2759,3459,3516,4024,3863,...,69.82,31.3,62.8,1.5,70.21,38.9,58.2,3.9,66.35,42.2
4,Philadelphia,Pennsylvania,39.952584,-75.165222,2054,1597,2139,2212,2633,2498,...,70.58,49.2,44.5,3.3,64.19,47.4,38.0,4.0,65.68,52.8

In [9]:
#Output cleaned data
output_data_file = "resources/cleaned_data.csv"
clean_data.to_csv(output_data_file, index=False, header=True)